body {
    background: #181818;
    color: #fff;
}

div#loading {
    display: none;
    cursor: wait;
}

#main__img {
    height: 60%;
    width: 60%;

    
}

.btn-default {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px 20px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 4px;
	background: #f77062;
	color: #fff;

}


.btn-default:hover {
	background: #4837ff;
	transition: all 0.3s ease;
}

